* {
	box-sizing: border-box;
}

body {
	background-image: url("kaitokid.jpg");
	background-repeat:no-repeat;
}

header{
	text-align: center;
	color: red;
	font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 28.7999992370605px;

}

.playBoard {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	cursor: url("love2.gif"), auto;
}

.box {
	width: 100px;
	height: 100px;
	border: 3px solid gray;
	float: left;
}
#button1:hover {
	background-image: url("button1.gif");
}
#button2:hover {
	background-image: url("button2.jpeg");
}
#button3:hover {
	background-image: url("button3.gif");
}
#button4:hover {
	background-image: url("button4.jpeg");
}
#button5:hover {
	background-image: url("button5.gif");
}
#button6:hover {
	background-image: url("button6.jpg");
}
#button7:hover {
	background-image: url("button7.jpg");
}
#button8:hover {
	background-image: url("button8.jpg");
}
#button9:hover {
	background-image: url("button9.gif");
}

button {
	background-color: black;
	color: white;
	width: 75px;
	height: 20px;
	margin: 50px 0 0 20px;
}

img {
	width: 90px;
	height: 90px;
}
/*#outerbox {	
	width: 310px;
	height: 310px;
	overflow: hidden;
}*/